@import "src/assets/styles/_variables";

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logo__icon {
  width: 65px;
  height: 75px;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  border-radius: 5px;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 59px;
}

.logo__icon {
  width: 75px;
  height: 65px;
}

.logo__text {
  font-size: $font-size-large;
  font-weight: $font-weight-semiBold;
  margin-left: 5px;
  color: $accent-color;

  @media only screen and (max-width: $screen-l) {
    display: none;
  }
}

app-autocomplete {
  width: 470px;

  @media only screen and (max-width: $screen-xl) {
    width: 300px;
  }

  @media only screen and (max-width: $screen-l) {
    width: 55%;
  }
}

.search__input {
  font-size: $font-size-small;
  width: 100%;
  padding: 0 50px 0 28px;
  height: 100%;
  background: var(--input-color);
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}

input::placeholder {
  color: var(--icon-search);
  transition: 0.5s;
}

.search__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
}

