.favorite__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

}

.favorite {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 24px;

    &__item {
        margin: 0 38px 35px 0;
        width: 351.5px;
        height: 307px;
        padding: 0 36.5px 0 13px;
        position: relative;
        background: rgba(234, 239, 234, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__calendar {
        display: inline;
        position: relative;
        top: 7px;
    }
    
    &__date {
        margin-top: 28px;
    }

    &__city {
        margin-top: 17px;
        font-weight: 500;
        font-size: 36px;
    }

    &__temperature {
        margin-top: 21px;
        font-weight: 500;
        font-size: 48px;
        line-height: 47px;
    }

    &__additional-info {
        margin-top: 12px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
}