@import "src/assets/styles/_variables";

.card {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 28px 20px 18px 13px;
  background-color: $bkg-card-light;
  position: relative;
  margin-bottom: 35px;
}

.card__header {
  display: flex;
  align-items: center;

  .header__calendar {
    font-size: 22px;
    margin-right: 10px;
  }

  .header__date {
    font-size: $font-size-small;
  }
}

.card__icon-group {
  position: absolute;
  top: 28px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card__favorite-icon {
  font-size: 35px;
  cursor: pointer;
}

.card__weather-img {
  width: 120px;
  height: auto;
}

.card__city {
  margin-top: 20px;
  font-weight: $font-weight-medium;
  font-size: $font-size-medium;
}

.card__day-temp {
  font-size: $font-size-medium;
  margin: 22px 0 22px;
}

.card__temp {
  margin-top: 20px;
  font-weight: $font-weight-medium;
  font-size: $font-size-large;
  margin-bottom: 15px;
}

.card__weather-info {
  margin-bottom: 13px;
  font-size: $font-size-extraSmall;
  &:last-of-type {
    margin: 0;
  }
}
