<div class="current-weather">
  <div *ngIf="hasInfo" class="current-weather__info">
    <i class="icon icon-calendar"></i>
    <p class="current-weather__date">
      {{ weatherInfo?.date }}
    </p>
  </div>
  <a routerLink="/{{weatherInfo?.city}}/details" class="current-weather__city">
    {{ weatherInfo?.city }}
  </a>
  <button *ngIf="hasFavorite">
    <app-favorite-toggle (onChange)="handleFavoriteChange($event)"
    [favorite]="weatherInfo"
    ></app-favorite-toggle>
  </button>
  <p *ngIf="hasTemperature" class="current-weather__temperature">
    {{ weatherInfo?.temp }}
  </p>
</div>
