@import "src/assets/styles/_variables";

.current-weather {
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  & .icon-calendar {
    font-size: 40px;
  }
  &__date {
    margin-left: 25px;
    font-size: $font-size-large;
  }
  &__city {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
  &__city:hover {
    color: $accent-color;
  }
  & .icon-heart {
    margin-left: 37px;
    font-size: 40px;
  }
  &__temperature {
    margin-top: 50px;
    font-size: 48px;
    font-weight: $font-weight-medium;
  }
}
