.favorite__btn {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
app-favorite-item {
  margin-right: 60px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
