@import "src/assets/styles/_variables";

.favorite__btn {
  font-weight: $font-weight-medium;
  font-size: $font-size-small;
  display: flex;
  align-items: center;
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;

  @media only screen and (max-width: 768px) {
    justify-content: space-around;
  }
}


app-favorite-item {
  margin-right: 60px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media only screen and (max-width: 1280px) {
    margin: 0px;
  }
}
