/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500;700;900&display=swap");

html {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #88aa7d;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  //   font-family: ;
  //   color: ;
  //   font-weight: ;
  //   font-size: ;
  min-height: 100vh;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1440px;
  height: 100vh;
  // background-color: tomato;
}
