$bkg-light-theme: #eaefea;
$bkg-dark-theme: #000;
$bkg-card-light: rgba(255, 255, 255, 0.25);
$bkg-card-dark: rgba(234, 239, 234, 0.2);
$bkg-overlay-dark: rgba(1, 1, 1, 0.8);
$bkg-overlay-light: rgba(43, 56, 39, 0.8);
$accent-color: #88aa7d;
$text-color: #fff;
$text-color-dark: #747474;
