<div class="forecast">
  <app-breadcrumbs [links]="forecastBreadcrumbLinks"></app-breadcrumbs>
  <app-btn-groups [currentCity]="weatherInfo?.city"></app-btn-groups>
  <app-current-weather
    [weatherInfo]="weatherInfo"
    [hasFavorite]="false"
    [hasTemperature]="false"
    [hasInfo]="false"
  ></app-current-weather>
  <div class="forecast-list">
    <app-forecast-card
      *ngFor="let day of forecast"
      [day]="day"
      class="forecast-list__item"
    ></app-forecast-card>
  </div>
  <button *ngIf="isForecastHistoryEnabled" type="button" class="forecast__history-button" (click)="openForecastHistory()">
    Yesterday's weather &#8594;
  </button>
  <button *ngIf="!isForecastHistoryEnabled" type="button" class="forecast__history-button-disabled">
    Yesterday's weather :
  </button>
  <div class="forecast-list">
    <app-forecast-card
      *ngFor="let day of forecastHistory"
      [day]="day"
      class="forecast-list__item"
    ></app-forecast-card>
  </div>
</div>
