<div class="forecast">
  <app-breadcrumbs [links]="forecastBreadcrumbLinks"></app-breadcrumbs>
  <app-btn-groups></app-btn-groups>
  <app-current-weather
    [weatherInfo]="weatherInfo"
    [hasFavorite]="false"
    [hasTemperature]="false"
    [hasInfo]="false"
  ></app-current-weather>
  <div class="forecast-list">
    <app-forecast-card
      *ngFor="let day of forecast"
      [day]="day"
      class="forecast-list__item"
    ></app-forecast-card>
  </div>
  <button type="button" class="forecast__history-button">
    Yesterday's weather &#8594;
  </button>
</div>
