@import "src/assets/styles/_general";
@import "src/assets/styles/_variables";

.forecast {
  width: 100%;
  margin-bottom: 65px;
}

.forecast-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media only screen and (max-width: $screen-l) {
    justify-content: space-around;
  }
}

.forecast-list__item {
  width: 351px;
  margin-bottom: 20px;
}

.forecast__history-button {
  color: $text-color;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;

  &-disabled {
    color: $text-color;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    margin-bottom: 25px;
    cursor: none;
  }
}

app-btn-groups {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  @media only screen and (max-width: $screen-l) {
    margin-bottom: 30px;
  }
}

app-current-weather {
  display: block;
  margin-bottom: 55px;
}
