@import "src/assets/styles/_variables";

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
}

tr {
  line-height: 62px;
}

td {
  border-bottom: 3px solid $table-line;
  &:nth-child(1) {
    text-align: left;
  }
}
