<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="data"
    [searchKeyword]="label"
    placeholder="Search..."
    (selected)='selectedCity.emit($event)'
    (inputCleared)="clearInput.emit()"
    (inputChanged)='onSearch.emit($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    [minQueryLength]="3"
    [debounceTime]="200"
    [customFilter]="filter"
  >
  </ng-autocomplete>
  <i class="icon icon-search search__icon"></i>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound">Not found</div>
  </ng-template>
</div>
