.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaefea;
  min-height: 100px;
}

.footer__text {
  color: #747474;
  line-height: 29px;
  font-size: 24px;

  .footer__text_link {
    font-weight: 700;
  }
}
