<section class="favorite__item"> 
    <i class="icon-heart-active favorite__icon-heart-active"></i>
    <i class="icon-calendar favorite__icon-calendar"></i>
    <img class="favorite__current-weather" src="../../../assets/images/weather.png" alt="current weather">
    <time class="favorite__date">February 7th, 2022</time>
    <header class="favorite__city">Toronto</header>
    <div class="favorite__temperature">0 ° С</div>
    <footer class="favorite__additional">
        <div class="favorite__additional-item">Light snow</div>
        <div class="favorite__additional-item">Wind speed:  2 km/h</div>
        <div class="favorite__additional-item">Humidity: 70%</div>
    </footer>
</section>

