@import "src/assets/styles/_variables";
.btn-groups {
  display: flex;
  justify-content: space-between;
  width: 630px;
  height: 40px;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-family: $font-family-roboto;
  color: $text-color-dark;
  font-weight: $font-weight-medium;
  font-size: 1.333rem;
  background: $bkg-light-theme;

  &.active {
    background: $accent-color;
    color: $text-color;
  }
}
