<section class="favorite__item">
  <header class="favorite__header">
    <i class="icon-calendar favorite__header__icon-calendar"></i>
    <time class="favorite__header__date">{{ info?.date }}</time>
    <app-favorite-toggle
      class="favorite__header__icon-heart-active"
      [isFavorite]="info?.isFavorite"
      (onChange)="handleFavoriteChange($event)"
    ></app-favorite-toggle>
    <!-- <i class="icon-heart-active favorite__header__icon-heart-active"></i> -->
  </header>
  <div class="favorite__body">
    <div class="favorite__body__city">{{ info?.city }}</div>
    <div class="favorite__body__temperature">{{ info?.temp }}</div>
    <img
      class="favorite__body__current-weather"
      src="../../../assets/images/weather.png"
      alt="current weather"
    />
  </div>
  <footer class="favorite__footer">
    <div class="favorite__footer__additional-item">
      {{ info?.additionalInfo?.weatherLabel }}
    </div>
    <div class="favorite__footer__additional-item">
      Wind speed: {{ info?.additionalInfo?.windSpeed }}
    </div>
    <div class="favorite__footer__additional-item">
      Humidity: {{ info?.additionalInfo?.humidity }}
    </div>
  </footer>
</section>
