@import "src/assets/styles/_variables";

.favorite {
  &__item {
    width: 350px;
    padding: 25px 0 5px 13px;
    margin-bottom: 35px;
    position: relative;
    background: $bkg-card-dark;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__header {
    &__icon-calendar {
      position: relative;
      top: 3px;
      font-size: 22px;
      margin-right: 10px;
    }

    &__date {
      font-size: $font-size-extraSmall;
    }

    &__icon-heart-active {
      position: absolute;
      font-size: 35px;
      top: 25px;
      right: 40px;
      cursor: pointer;
    }
  }

  &__body {
    margin-top: 20px;

    &__current-weather {
      position: absolute;
      top: 65px;
      right: 35px;
      width: 122px;
      height: 132px;
    }

    &__city {
      font-weight: $font-weight-medium;
      font-size: $font-size-medium;
    }

    &__temperature {
      margin-top: 20px;
      font-weight: $font-weight-medium;
      font-size: $font-size-large;
      line-height: 47px;
    }
  }

  &__footer {
    margin-top: 15px;
    font-size: 18px;

    &__additional-item {
      margin-bottom: 13px;
    }
  }
}
