@import 'src/assets/styles/_general';

.forecast-day {
  width: 100%;
  height: fit-content;
  padding: 15px;
  background-color: $bkg-card-dark;
  color: $text-color;
  font-size: 14px;
}

.forecast__header {
  margin-bottom: 20px;
}

.forecast-day__title {
  font-size: 18px;

  .icon-calendar {
    position: relative;
    top: 3px;
    font-size: 22px;
    margin-right: 10px;
  }
}

.forecast__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.forecast-day__weather {
  position: absolute;
  top: -50px;
  right: 0;
  width: 122px;
  height: 132px;
}

.forecast-day__temp {
  font-size: 28px;
  color: $text-color;
}

.forecast__footer {
  font-size: 18px;
}

.forecast-day__general-info,
.forecast-day__wind {
  margin-bottom: 13px;
}
