<table class="details-table">
    <tr>
        <td></td>
        <td>12AM</td>
        <td>6AM</td>
        <td>12PM</td>
        <td>12AM</td>
    </tr>
    <tr>
        <td>Temperature, °C</td>
        <td>-1</td>
        <td>3</td>
        <td>6</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Feels like, °C</td>
        <td>-5</td>
        <td>2</td>
        <td>2</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Wind speed, m/s</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Wind gust, m/s</td>
        <td>5</td>
        <td>5</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Cloud cover, %</td>
        <td>80</td>
        <td>75</td>
        <td>60</td>
        <td>85</td>
    </tr>
    <tr>
        <td>Humidity, %</td>
        <td>92</td>
        <td>82</td>
        <td>85</td>
        <td>90</td> 
    </tr>
    <tr>
        <td>Pressure, mm</td>
        <td>735</td>
        <td>740</td>
        <td>744</td>
        <td>736</td>
    </tr>
</table>

