<table class="details-table">
  <tr>
    <td></td>
    <td>12PM</td>
    <td>6AM</td>
    <td>12AM</td>
    <td>6PM</td>
  </tr>
  <tr>
    <td>Temperature, °C</td>
    <td *ngFor="let temp of dataDetails.temp_c">{{ temp }}</td>
  </tr>
  <tr>
    <td>Feels like, °C</td>
    <td *ngFor="let feelslike of dataDetails.feelslike_c">{{ feelslike }}</td>
  </tr>
  <tr>
    <td>Wind speed, m/s</td>
    <td *ngFor="let wind of dataDetails.wind_kph">{{ wind }}</td>
  </tr>
  <tr>
    <td>Wind gust, m/s</td>
    <td *ngFor="let gust of dataDetails.gust_kph">{{ gust }}</td>
  </tr>
  <tr>
    <td>Cloud cover, %</td>
    <td *ngFor="let cloud of dataDetails.cloud">{{ cloud }}</td>
  </tr>
  <tr>
    <td>Humidity, %</td>
    <td *ngFor="let humidity of dataDetails.humidity">{{ humidity }}</td>
  </tr>
  <tr>
    <td>Pressure, mm</td>
    <td *ngFor="let pressure of dataDetails.pressure_mb">{{ pressure }}</td>
  </tr>
</table>
