@import "src/assets/styles/_variables";

.search__input {
  font-size: $font-size-small;
  width: 100%;
  padding: 0 50px 0 28px;
  height: 100%;
  background: $text-color;
  border: none;
  border-radius: 5px;
}

.search__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
}

.search__result {
  position: absolute;
  top: 66px;
  background-color: $bkg-light-theme;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 5px 5px;
  z-index: 2;

  .result__item, .result__not-defined {
    font-size: $font-size-small;
    padding: 7px 10px;
    width: 100%;
    color: #E83A14;
  }

  .result__item {
    color: $text-color-dark;
    transition: .3s background-color linear;

    &:hover {
      background-color: $bkg-overlay-light;
      color: $text-color;
    }
    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }
  }
}
