@import "src/assets/styles/_variables";
.menu {
  display: flex;
  &__item {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    font-size: 20px;
    &:not(:last-child)::after {
      content: "/";
      margin: 0 10px;
    }
  }
  &__link {
    padding-top: 31px;
    padding-bottom: 31px;
    cursor: pointer;
  }
}
.active-link {
  color: $accent-color;
  cursor: auto;
  pointer-events: none;
  font-weight: $font-weight-extraBold;
}
