.details__current-weather {
  display: block;
  margin-bottom: 65px;
}
.details__details-btns {
  display: block;
  margin-left: auto;
  margin-bottom: 65px;
  width: 630px;
}
.details__details-table {
  display: block;
  margin-bottom: 65px;
}
