<!-- <div *ngFor="let notification of notifications" class="notification__list">
  <div  class="notification__item" >
    <p>[{{notification.type}}]: {{notification.message}}</p>
  </div>
</div> -->

<ul class="notification__list">
  <li *ngFor="let notification of notifications">
    <button  class="notification__item" type="button" >
      <p>[{{notification.type}}]: {{notification.message}}</p>
    </button>
  </li>
</ul>

<!-- <div class="notification__list">
  <div  class="notification__item {{notification?.type}}" >
    <p>[{{notification?.type}}]: {{notification?.message}}ss</p>
  </div>
  <div  class="notification__item  {{notification?.type}}" >
    <p>[{{notification?.type}}]: {{notification?.message}}ss</p>
  </div>
  <div  class="notification__item  {{notification?.type}}" >
    <p>[{{notification?.type}}]: {{notification?.message}}ss</p>
  </div>
</div> -->
