@import "../../../../assets/styles/variables";

.notification{

  &__list{
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 1;
    max-width: 18%;
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    text-align: right;
  }

  &__item{
    position: relative;
    margin-bottom: 0.4rem;
    border-radius: 2rem;
    padding: 2px;
    background: $accent-color;

    & p {
      padding: 1.2rem;
      color: $text-color;
      font-size: $font-size-extraSmall;
      font-family: $font-family;
      font-weight: $font-weight-medium;
    }
  }
}
