$bkg-light-theme: #eaefea;
$bkg-dark-theme: #000;
$bkg-card-light: rgba(255, 255, 255, .25);
$bkg-card-dark: rgba(234, 239, 234, .2);
$bkg-overlay-dark: rgba(1, 1, 1, .8);
$bkg-overlay-light: rgba(43, 56, 39, .8);
$table-line: #909793;

$accent-color: #88AA7D;
$text-color: #FFF;
$text-color-dark: #747474;

$font-family: "Montserrat", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$font-size-large: 48px;
$font-size-medium: 36px;
$font-size-small: 24px;
$font-size-extraSmall: 18px;
$font-size-theSmallest: 16px;

$font-weight-extraBold: 900;
$font-weight-bold: 700;
$font-weight-semiBold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$screen-xl: 1280px;
$screen-l: 768px;
$screen-m: 480px;