<div class="current-weather">
    <div class="current-weather__info">
        <i class="icon icon-calendar"></i>
        <p class="current-weather__date">
            February 7th, 2022
        </p>
    </div>
    <a                 
        routerLink=":city/details"  
        class="current-weather__city"
    >
        Kyiv, Ukraine
    </a>
    <button *ngIf="hasFavorite">
        <span class="icon icon-heart-active"></span>
    </button>
    <p class="current-weather__temperature">7 ° С</p>
</div>
