<nav class='bread-crumbs'>
    <ul class="menu">
        <li class="menu__item">
            <a 
                routerLink="" 
                (click)="openHomePage()"
                class="menu__link"
            >
                Home
            </a>
        </li>
        <li class="menu__item">
            <a 
                routerLink=":city/details"  
                (click)="openDetailsPage()"
                class="menu__link"
            >
                <span class="menu__link_decoration">/</span>
                Details
            </a>
        </li>
        <li class="menu__item">
            <a 
                routerLink=":city/details/forecast" 
                (click)="openForecastPage()"
                class="menu__link"
            >
            <span class="menu__link_decoration">/</span>
            Forecast</a>
        </li>
    </ul>
</nav>