@import "src/assets/styles/_general";
.menu {
  display: flex;
  &__item {
    display: flex;
    align-items: baseline;
    list-style-type: none;
  }
  &__link {
    padding-top: 39px;
    padding-bottom: 29px;
    cursor: pointer;
    &-active {
      color: $accent-color;
    }
  }
  &__link_decoration {
    color: $text-color;
    margin: 0 10px;
  }
}
.active-link {
  color: $accent-color;
}
