<nav class='breadcrumbs'>
    <ul class="menu">
        <li class="menu__item">
            <a 
                routerLink="/" 
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}"
                class="menu__link"
            >
                Home
            </a>
        </li>
        <li class="menu__item">
            <span class="menu__link_decoration">/</span>
            <a 
                routerLink="/:city/details" 
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{exact:true}"
                class="menu__link"
            >
                Details
            </a>
        </li>
        <li class="menu__item" *ngIf="router.url === '/:city/details/forecast'">
            <span class="menu__link_decoration">/</span>
            <a 
                routerLink="/:city/details/forecast" 
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}"
                class="menu__link"
            >
            Forecast</a>
        </li>
    </ul>
</nav>