@import "src/assets/styles/_variables";
.btn-groups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 490px;
  min-height: 40px;

  @media only screen and (max-width: $screen-l) {
    width: 80%;
    margin: 0 auto;
  }
}

button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-family: $font-family-roboto;
  color: $text-color-dark;
  font-weight: $font-weight-medium;
  font-size: $font-size-extraSmall;
  background: $bkg-light-theme;

  &.active {
    background: $accent-color;
    color: $text-color;
  }

  @media only screen and (max-width: $screen-l) {
    margin-bottom: 10px;
    width: 48%;
  }
}
