<div class="btn-groups">
  <button
    routerLink="/{{currentCity}}/details"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="btn-groups__today">
    Today
  </button>
  <button routerLink="/{{currentCity}}/details/tomorrow"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          class="btn-groups__tomorrow">
    Tomorrow
  </button>
  <button routerLink="/{{currentCity}}/details/three-days"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          class="btn-groups__three-days">
    3 days
  </button>
</div>
