@import "src/assets/styles/_variables";

.theme-switcher {
  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background-color: $text-color;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 36px;
      width: 36px;
      left: 24px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: 0.5s;
      border-radius: 42px;
      background: $accent-color url("../../../../assets/images/sun.svg") no-repeat center;
    }
  }
}

input:checked + .theme-switcher__slider {
  background: var(--input-color);

  &:before {
    transform: translateX(-26px);
    background: $accent-color url("../../../../assets/images/moon.svg") no-repeat left;
  }
}
