.main {
  background-image: linear-gradient(
      rgba(43, 56, 39, 0.8),
      rgba(43, 56, 39, 0.8)
    ),
    url(../assets/images/snow1.jpg);
  background-color: rgba(43, 56, 39, 0.8);
  background-position: center;
  background-size: cover;
}
